* {
  box-sizing: border-box;
  direction: rtl;
  text-align: right;
  font-family: "Arial (Hebrew)", Arial;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #777777;
}

#home2 {
  height: 15;
  object-fit: cover;
  vertical-align: -4px;
  clip-path: polygon(0 33px, 15px 33px, 15px 0px, 0px 0px);
}

footer a,
header a,
.red {
  color: white;
}

.fill {
  width: 100%;
}

.contact-form {
  widows: 50%;
}
.right-side,
.left-side {
  width: 20%;
  min-height: 100px;
}
.right-side > a {
  border-top: 1pt #d0d0d0 solid;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  background: linear-gradient(to top, #d0d0d0, white);
  padding-right: 20px;
}

#arrow {
  position: absolute;
  right: 0;
  top: 15px;
  color: #005ca0;
}

.right-side {
  position: relative;
}

.left-side {
    padding-top: 35px;
}

.center {
  margin: auto;
  width: 900px;
}

.container {
  width: 1200px;
}

.small-box {
  background-image: url("images/cube_bg.png");
  height: 169px;
  width: 292px;
  margin: 26px;
  padding: 20px 25px;
  position: relative;
}

.small-box > h3 {
  margin-bottom: 10px;
  color: #005ca0;
}

.form-div {
  background-image: url("images/contact_form_bg.png");
  height: 356px;
  width: 383px;
  padding: 5px 20px;
  margin-left: 50px;
  text-align: center;
  /* padding-top: 70px; */
}

.contact-form > h2 {
  margin: 30px 0 15px 0;
  padding-bottom: 5px;
  border-bottom: 1pt #d0d0d0 solid;
}

/* form {
    display: inline-table;
    margin: auto;
    width: auto;
} */

.form-row > label {
  width: 30%;
  display: inline-block;
}

.form-row > input {
  width: 68%;
  display: inline-block;
}
.form-row {
  margin: 3px;
  display: inline-block;
  width: 250px;
}
.form-div > h2 {
  padding-top: 5px;
  color: #005ca0;
  margin-bottom: 5px;
}

.form-div > p {
  padding-top: 5px;
}

#free-text {
  width: 100%;
  /* line-height: 8; */
}

.central {
    margin-top: 10PX;
    text-align: center;   
    display:inline-block;
    width: 250px;
    /* position: relative; */
        /* margin: auto;
    overflow:auto; */
}

.left {
    /* direction: ltr; */
    text-align: left;
    display: block;
}
.send-btn {
  background-image: linear-gradient(to top, #005ca0, lightblue);
  border-top-right-radius: 5px;
  color: white;
  /* text-align: left; */
  height: 20px;
  display: inline-block;
  padding: 2px 10px;
  text-decoration-line: none;
  /* position: relative; */
  /* left: 0; */
}

.send-btn:hover {
    background-image: linear-gradient(to top, #ffa500, #fad898);
    text-decoration-line: none;
}
.blue {
  color: blue;
  /* color:  */
}

.invalid {
    visibility: hidden;
    display: none;
    color: red;
    /* padding-top:4px; */
}

/* .red {
    color: white;
} */
