* {
    box-sizing: border-box;
    direction: rtl;
    text-align: right;
    font-family: "Arial (Hebrew)", Arial;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: white;
}

.cube  .readmore > a {
    color: #8C8C8C;
}

a {
    text-decoration-line : none ;
 } 

a:hover, .cube  .readmore > a:hover {
    text-decoration-line : underline;
    text-decoration-color: #005CA0;
    color: #005CA0;
}

header {
    background: #8C8C8C; 
    height: 105px;
    text-align: left;
}

.search-container {
    text-align: center;
    height: 55px;
}

.search {
    padding-top: 15px;
    text-align: left;
    padding-left: 175px;
    display: block;
    white-space: nowrap; 
}

.search > a > img {
    vertical-align: -5px; 
}

#search-text {
    padding-right: 4px; 
    border-top-right-radius: 10px ;

}
::placeholder {
    color: black;
  }

.menu-container {
    text-align: center;
    height: 30px;
    padding-bottom: 0;

}

.menu {
    margin-top: 10px;
    display: inline-block;
}

.menu > ul > li > a {
    padding: 2px 10px;
}

.dropdown {
    position: relative;
}

.dropdown-content > ul {
    background: #8C8C8C; 
    display: block;
    width: 100%;
}

.dropdown-content > ul > li > a {
    display: inline-block;
    padding: 5px 10px;
    white-space: nowrap;
}

.dropdown-content > ul > li {
    width: 100%;
}

.dropdown-content {
    padding-top: 20px;
    margin-bottom: 5px;
    display: none;
    position: absolute;
    z-index: 100;
  }

.dropdown:hover > .dropdown-content {
    display: block;

}

ul {
    list-style: none;
}

.menu > ul > li {
    display: inline-block;
}

#paz-logo {
    position: absolute;
    right: 14%;
    top: 30px;
}

#home2 {
    height: 15;;
    object-fit: cover;
    vertical-align: -4px;
    clip-path: polygon(18px 33px,32px 33px,32px 0px,18px 0px) ;
}

.separator > img {
    vertical-align: -7px;
}

#fb > img {
    vertical-align: -4px;
}

.gradient-down {
    height: 20px;
    background: linear-gradient(to bottom,#8C8C8C, #A4A4A4 ) ;
}

.gradient-up {
    /* background: linear-gradient(to top,#8C8C8C, #C4C4C4 ) ; */
    background: linear-gradient(to bottom,#A4A4A4, #8C8C8C ) ;
}

footer {
    /* background: #8C8C8C;  */
    /* .gradient { */
        /* height: 20px; */
    /* background: linear-gradient(to top,#8C8C8C, #C4C4C4 ) ; */
    /* } */
    position: sticky;
    /* left: 0; */
    bottom: 0;
    height: 35px;
    width: 100%;
    overflow: hidden;

}

footer li {
    color: white;
}



.container {
    text-align: center;
    margin-top: 25px;
    padding-bottom: 30px;
}

.row {
    display: inline-block;
    
    /* margin: 0 auto; */
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.tabs > .column {
    padding: 7px;
    position: relative;
}

.column {
    float: right;
} 

.summary {
    position: absolute;
    bottom: 14px;
    right: 13px;
    background-color: rgba(128,128,128, 0.8)  ;
    border-bottom-right-radius: 20px;
    color: white;
    margin: 0 5px 5px 47px;
    padding: 5px 8px;
}

.summary > h3 {
    margin: 0;
}

.summary > p {
    margin-top: 3px;
}

.tabs > .column > img {
    border-bottom-right-radius: 20px;
}

.summary {
    display: block;
}

.readmore > a:hover > .readmore-normal {
    display: none;
}

.readmore > a:hover > .readmore-hover {
    display: inline-block;
}

.readmore > a > .readmore-hover {
    display: none;
}

.align-bottom {
    margin-top: 10px;
}

.readmore {
    text-align: left;
}

.size-12 {
    font-size: 12px;
}

.size-13 {
    font-size: 13px;
}

.size-14 {
    font-size: 14px;
}

.size-15 {
    font-size: 15px;
}

.bold {
    font-weight: bold;
}

.red {
    color: red;
}

.underline {
    text-decoration-line : underline;    
}

.dropdown-separator {
    background-image: url("images/menu_dropdown_sep.png");
    width: 100%;
    height: 1px;
    vertical-align: 3px;
}

.height-20 {
    line-height: 40px;
}

.cube {
    background-image: url("images/small_cube_bg.png");
    height: 216px;
    width: 292px;
    margin: 6px;
    position: relative;
}

.cube > h3 {
    display: block;
    color: #555555;
    text-align: center;
    margin-bottom: 25px;
}

.cube > img {
    display: block;
    margin: 0 auto;
    /* position: relative;
    top: 25px; */
}

.cube > .readmore {
    margin-top: 15px;
    margin-left: 15px;
}

.right-panel > ul {
    list-style: none;
    text-align: right;
    padding: 10px 15px 0px 0px;
}

.right-panel ul > li {
    /* display: block; */
    text-align: right;
    direction: rtl;
}

.right-panel ul > li a {
    /* display: block; */
    /* text-align: right; */
    width: 100%;
    /* direction: rtl; */
}

#stations > .row {
    width: 100%;
}

.left-panel {
    text-align: left;
    width: 80%;
}

.right-align {
    text-align: right;
    width: 20%;
}

/* .cube-img {
    position: absolute;
} */

/* #credit-card {
    background-image: url("images/small_cube_bg.png");
}

#banner {
    background-image: url("images/small_cube_bg.png");
}

#stations {
    background-image: url("images/map-paz.png");
} */
