* {
    box-sizing: border-box;
    direction: rtl;
    text-align: right;
    font-family: "Arial (Hebrew)", Arial;
    line-height: 1;
    padding: 0;
    margin: 0;
}

a {
    text-decoration-line : none ;
    /* text-decoration-color: white; */
    color: white;
}

a:hover {
    text-decoration-line : initial;
    /* text-decoration: none blue; */
    /* text-decoration-color: blue; */
    color: blue;
}
/* a:visited {
    text-decoration-color: white;
    color: white;
} */
header {
    background: #8C8C8C; 
    height: 105px;
    text-align: left;
    /* margin-bottom: 10px; */
}

.search-container {
    text-align: center;
    height: 55px;
}

.search {
    padding-top: 15px;
    text-align: left;
    /* padding-bottom: 0; */
    padding-left: 175px;
    display: block;
    white-space: nowrap; 
}

.search > a > img {
    vertical-align: -5px; 
}

#search-text {
    padding-right: 4px; 
    border-top-right-radius: 10px ;

}
::placeholder {
    color: black;
  }

.menu-container {
    text-align: center;
    height: 30px;
    padding-bottom: 0;
    /* margin-bottom: 10px;
    padding-bottom: 10px; */
}

.menu {
    margin-top: 10px;
    display: inline-block;
    /* margin-bottom: 10px;
    padding-bottom: 10px; */
}

.dropdown {
    position: relative;
}

.dropdown-content > ul {
    background: #8C8C8C; 
    /* background-color: yellow; */
    display: block;
    width: 100%;
    /* font-size: 12px; */
}

.dropdown-content > ul > li > a {
    display: inline-block;
    padding: 3px 2px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    /* word-wrap: none; */
    box-shadow:  -5px 5px 5px 5px rgba(0,0,0,0.3);
    z-index: 100;
  }

.dropdown:hover > .dropdown-content {
    display: block;
}

.submenu-border {
    border-bottom: 1px solid white;
}

ul {
    /* margin: 0; */
    list-style: none;
}
li {
    /* padding: 0 5px;; */
    display: inline-block;
    /* list-style: none;     */
}

li > a {
    padding: 0 5px;
}
.menu > ul > li > a:hover {
    text-decoration-line: underline;
}

/* .separator {
    background-image: url(images/menu_sep.png) ;
    background-color: blue;
    width: 5px;
} */

/* .menu > ul > li  {
    margin-bottom: -5px;
    padding-bottom: 5px;
} */

/* .menu > ul > li > a { */
    /* margin-bottom: -5px;
    padding-bottom: 5px; */
/* } */

#paz-logo {
    position: absolute;
    right: 14%;
    top: 30px;
    /* bottom: 40px; */
        /* vertical-align: -90px; */
}

#home2 {
    /* width: 20px; */
    height: 15;;
    object-fit: cover;
    vertical-align: -4px;
    /* margin-left: -10px; */
    /* overflow: hidden; */
    /* clip-path: polygon(21px 33px,51px 33px,51px 0px,21px 0px); */
    clip-path: polygon(18px 33px,32px 33px,32px 0px,18px 0px) ;
    /* background-position: right 0; */
    /* width: 100%; */
}



.separator > img {
    vertical-align: -7px;
}

#fb > img {
    vertical-align: -4px;
}

.gradient {
    height: 20px;
    background: linear-gradient(to bottom,#8C8C8C, #A4A4A4 ) ;
}

footer {
    /* background: #8C8C8C;  */
    /* .gradient { */
        /* height: 20px; */
        background: linear-gradient(to top,#8C8C8C, #C4C4C4 ) ;
    /* } */
    position: sticky;
    /* left: 0; */
    bottom: 0;
    height: 35px;
    width: 100%;
    overflow: hidden;

}

footer li {
    color: white;
}



.container {
    /* height: 600px; */
    /* width: 900px;     */
    text-align: center;
    /* background-color: salmon; */
    /* margin: 50px auto;
    padding: 0 auto; */
    /* margin: 0 auto; */
    margin-top: 25px;
}

/* .center-container {
    margin: 0 auto;
} */

.row {
    display: inline-block;
    
    /* margin: 0 auto; */
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: right;
    /* margin: 3px; */
    padding: 7px;
    position: relative;
} 

.column > .summary {
    position: absolute;
    bottom: 14px;
    right: 13px;
    background-color: rgba(128,128,128, 0.8)  ;
    border-bottom-right-radius: 20px;
    color: white;
    margin: 0 5px 5px 47px;
    padding: 5px 8px;
}

.summary > h3 {
    margin: 0;
}

.summary > p {
    margin-top: 3px;
}

.column > img {
    border-bottom-right-radius: 20px;
}

.summary {
    display: block;
}

.summary > .readmore > a {
    text-decoration-line: underline;
}

.summary > .readmore > a:hover > #readmore-normal {
    display: none;
}

.summary > .readmore > a:hover > #readmore-hover {
    display: inline-block;
}

.summary > .readmore > a > #readmore-hover {
    display: none;
}

.align-bottom {
    margin-top: 10px;
}

.readmore {
    text-align: left;
}

.size-12 {
    font-size: 12px;
}

.size-13 {
    font-size: 13px;
}

.size-14 {
    font-size: 14px;
}

.size-15 {
    font-size: 15px;
}

.bold {
    font-weight: bold;
}

.red {
    color: red;
}